DATABASE_URL=postgresql://user:password@host:port/dbname
JWT_SECRET=tu_secret_aqui
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret
STRIPE_SECRET_KEY=sk_test_xxxxx
NODE_ENV=development
PORT=5000